	<title>{{ .Title }}</title>
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	<link href="/3rdParty/bootstrap/bootstrap.min.css" rel="stylesheet">
	
	<!-- Icons (using fontawesome version 6.6.0 web free variant) -->
	<script defer src="/3rdParty/fontawesome/all.min.js"></script>
	
	<!-- Fonts (replaced google fonts with self hosted fonts; downloaded from google fonts) -->
	<link rel="stylesheet" href="/3rdParty/googleFonts/Alice/css.css">
	<link rel="stylesheet" href="/3rdParty/googleFonts/OpenSans/css.css">
	
	{{ $styles := resources.Get "css/styles.css" }}
  {{ $css := $styles | resources.Minify | resources.Fingerprint "sha512"  }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">

  <!-- Share this --> 
  {{ if .Site.Params.customsharethis }}
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
	{{ end }}
